@import '/src/variables';

.statics-container{
    display: flex;
    width: 90%;
    background: $dark;
    margin: 0 auto;
    transform: translateY(-50%);
    justify-content: space-around;
    padding: 1rem 1rem;
    border-radius: 6px;
    font-family: $roboto;
    flex-wrap: wrap;
    .static{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
    }
    .static-number{
        font-size: 3rem;
        color: $golden;
    }
    .static-title{
        color: #fff;
        font-size: 1.2rem;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 768px) {
    .statics-container{
        transform: translateY(0);
        width: 100%;

        .static-number{
            font-size: 2rem;
        }
        .static-title{
            font-size: 1rem;
        }
    }
}

@media only screen and (max-width: 500px) {
    .statics-container{
        transform: translateY(0);
        width: 100%;

        .static-number{
            font-size: 1.5rem;
        }
        .static-title{
            font-size: 0.9rem;
        }
    }
}